<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303606202591-40rukl3r0hbugh41t49ge3bir91uuic5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303606202591-40rukl3r0hbugh41t49ge3bir91uuic5</string>
	<key>API_KEY</key>
	<string>AIzaSyAtEZr1SXtj7wG4qF9KoIGUlQG_FvM7R-s</string>
	<key>GCM_SENDER_ID</key>
	<string>303606202591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftbeard.Listin</string>
	<key>PROJECT_ID</key>
	<string>listn-62bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>listn-62bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:303606202591:ios:1cf5f11aaa3c0d9f</string>
	<key>DATABASE_URL</key>
	<string>https://listn-62bb1.firebaseio.com</string>
</dict>
</plist>